.navBarWrapper {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.navBarWrapper li {
  text-decoration: none;
  list-style-type: none;
  height: 20px;
  padding: 20px;
}

li a {
  text-decoration: none;
  color: white;
}
